body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    background: #F9F9FB;
}


h2 {
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 36px;
}

h3 {
    margin-top: 48px;
    margin-bottom: 24px;
}

.demo {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 480px;
    display:block;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
.button:active {
    background-color: #004494;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    position: relative;
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    overflow: hidden; /* Ensure content does not overflow the border */
    background-color: #fff; /* Optional: Add background color to grid items */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
    text-decoration: none; /* Remove default link styling */
    color: inherit; /* Inherit text color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
    width: 100%;
    height: 200px;
}

.grid-item:last-child {
    grid-column-start: 2;
}

.grid-item a {
    width: 100%;
    height: 100%;
    display: block;
}

.grid-item img {  
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    object-fit: contain; 
    display: block;
}


.grid-item:hover {
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item:last-child {
        grid-column-start: 1;
    }
    
}